<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <title>RESULTADOS</title>
        <style>
            body{
                padding-top: 60px;
            }
    </style>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>

<div class="container">
    {{csrf_token}}
    <input type = "hidden" name = "csrf_token" value = "{{csrf_token()}}">
    <div clas="row">
            <h1>RESULTADOS:</h1><br>
            <h2>Número Máximo: {{maximo}}</h2><br>
            <h2>Número Mínimo: {{minimo}}</h2><br>
            <h2>Promedio: {{promedio}}</h2><br>
            <h2>Veces en que se repite un número:</h2>
            <h3>{{rep}}</h3><br>
        </div>
    </div>
</div>
</body>
</html> 
